.container {
  width: 100%;
}

.content {
  width: 30%;
  margin: 10rem auto;
  border: 1px solid white;
  border-radius: 3px;
}

.result {
  background-color: rgba(33, 30, 30, 0.581);
  color: white;
  font-family: monospace;
  width: 95%;
  height: 8vh;
  padding-left: 0.22rem;
  padding-top: 0.22rem;
  box-shadow: 1px 0px 5px red;
  font-size: 2rem;

}

.screen-calculator {
  width: 60%;
  margin: 0 auto;
}

.calculator button {
  background-color: #17a2b8;
  height: 10vh;
  width: 4vw;
  margin: 0.75rem 0.44rem 0 0;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
  color: #212529;
  text-align: center;
  font-size: 1.25rem;
  box-shadow: 1px 0px 5px red;
}

.calculator button:hover {
  background-color: #50aebc;
  box-shadow: 1px 0px 5px red;
}

.calculator button:focus {
  outline: none;
  box-shadow: 1px 0px 5px red;
}

.calculator .equal {
  background-color: #17a2b8;
  height: 10vh;
  width: 8.4vw;
  margin: 0.75rem 0.44rem 0 0;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
  color: #212529;
  text-align: center;
  font-size: 1.25rem;
  box-shadow: 1px 0px 5px red;
}